# Ignore directory created by Terraform init
.terraform/
.terraform

# Ignore override files as they are usually used to override resources locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore terraform state files
*.tfstate
*.tfstate.*

# Ignore terragrunt excess
.terragrunt-cache
